.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
/* Rename this button, used for View all cities & all guides */
.btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btn.share-btn {
    border: medium none;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    margin-top: 6px;
    opacity: 0.9;
    outline: medium none;
    padding: 8px 16px;
}
  .share-btn {
      display: inline-block;
      color: #ffffff;
      border: none;
      padding: 0.5em;
      width: 4em;
      opacity: 0.9;
      box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
      outline: none;
      text-align: center;
  }
  .share-btn:hover,
  .share-btn:focus {
    color: #eeeeee;
  }
  .share-btn:active {
    position: relative;
    top: 2px;
    box-shadow: none;
    color: #e2e2e2;
    opacity: 1;
    outline: medium none;
    position: relative;
    top: 2px;
}
.twitter {
    background: #55acee none repeat scroll 0 0;
}
.google-plus {
    background: #dd4b39 none repeat scroll 0 0;
}
.facebook {
    background: #3b5998 none repeat scroll 0 0;
}
.stumbleupon {
    background: #eb4823 none repeat scroll 0 0;
}
.reddit {
    background: #ff5700 none repeat scroll 0 0;
}
.linkedin {
    background: #4875b4 none repeat scroll 0 0;
}
.email {
    background: #444444 none repeat scroll 0 0;
}