#featuredguides_container {
    padding-left: 100px;
    padding-right: 100px;
 }
 .featuredguide_profile {
 text-align:center;
 }
 .card-title {
    text-align:center;
 }
 #featuredguides_height {
    minheight: '30vw';
    overflow: hidden;
 }
 h5 {
    border-bottom: 1px solid #dc3545;
     padding-bottom: 3px;
     text-align:center;
 }