/* OVERVIEW CITIES -> Check for double code */
#sidebar { 
    text-align: center 
}
#guidename {
        text-align: center
    }
#feature_cityguides{
justify-content: center;
}

#city_overview_sidebar {
background: #95C3C9;
padding: 25px;
}