/* Header Parallax Element Style*/ 
.paral {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 auto;
    width: 85%;
    }
    /* Paragraph for Parallax Section */ 
    .paral p {
    font-size: 24px;
    color:#f5f5f5;
    text-align: center;
    line-height: 60px;
    }
     
    /* Heading for Parallax Section */ 
    .paral h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
    }
      /* Image for Parallax Section - NOT WORKING -> Moved to parallax_mini STYLE, error in .jpg  
    .paralsec {
        background-image: url('{{asset('/img/groningen.jpg')}}');
            }*/
    /* Add more images for more sections */
    /* Remove Bottom Margin from Jumbotron */
.jumbotron{
    margin-bottom: 0;
}